.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.scoreboard-border {
  width: 1024px;
  height: 400px;
  background-color: green;
  margin: auto;
}

.scoreboard-header {
  font-size: 26px;
  font-weight: bold;
  color: white;
}

.display-border {
  width: 85%;
  height: 200px;
  margin: auto;
}

.score-container {
  display: flex;
  justify-content: space-between;
  margin-top: 25px;
}

/* Home Team Styling */
.home-wrapper {
  border: 2px solid white;
  width: 200px;
  height: 100px;
  margin-left: 25px;
}

.home-team {
  color: white;
  border-bottom: 1px solid white;
}

.home-score {
  color: white;
  font-size: 36px;
  text-align: center;
}

/* Away Team Styling */
.away-wrapper {
  border: 2px solid white;
  width: 200px;
  height: 100px;
  margin-right: 25px;
}

.away-team {
  color: white;
  border-bottom: 1px solid white;
}

.away-score {
  color: white;
  font-size: 36px;
  text-align: center;
}

/* Balls and Strikes */
.count-wrapper {
  width: 300px;
  height: 50px;
  border: 1px solid white;
  display: flex;
  justify-content: space-around;
  box-sizing: border-box;
}

.batter-info {
  margin: 0px;
  font-size: 16px;
  color: white;
}

.count {
  color: white;
}

/* Dashboard Styling */
.dashboard-wrapper {
  width: 75%;
  border: 1px solid white;
  margin-top: 50px;
  display: flex;
  justify-content: space-around;
}

.dash-title {
  margin: 0px;
  font-size: 16px;
  color: white;
  font-weight: bold;
}

.ballsAndStrikes-wrapper {
  display: flex;
  flex-direction: column;
}

.btn {
  margin: 5px 0;
  border-radius: 5px;
  background: white;
  color: green;
  font-weight: bold;
}

.btn:hover {
  cursor: pointer;
}